.board{
    margin:none;
    padding:none;
    align-items: center;
    justify-content: center;
    max-height:90%;
    max-width:90%;
}
.main{
    display: flex;
    flex-direction: column;
    margin:50px;
    padding:none;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #303030;
}
.title{
    text-align: center;
    color:#0afaff;
}
.space{
    display: flex;
    margin:none;
    padding:none;
    width:8vw;
    height:8vw;
    align-items: center;
    justify-content: center;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.option{
    background-color: red;
}
.pblack{
    color:#555555;
    font-size: 50px;
}
.pwhite{
    color:#0acacf;
    font-size: 50px;
}
img{
    max-width: 95%;
    max-height: 95%;
}
img.mobile{

}